body {
  font-family: 'Poppins', sans-serif;
  color: #3a3d3b;
}

.jumbotron {
  background: linear-gradient(180deg, rgba(251,175,65,1) 0%, rgba(255,53,39,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron p, a {
  color: white;
  text-align: center;
}

.name {
  color: white;
  font-weight: 600;
}

.img-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
}

.contacts {
  text-decoration: none;
  color: white;
}

.contacts:hover {
  color: #7eca9c;
}
