body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #3a3d3b;
}

.card {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-sizing: border-box;
}

.img-profile {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.contacts {
  text-decoration: none;
  color: #3a3d3b;
}