body {
  font-family: 'Poppins', sans-serif;
  color: #3a3d3b;
  /* background-color: #F1E6DC; */
}

.jumbotron {
  background-image: url("./totoro.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron p {
  color: white;
  text-align: center;
}

lottie-player {
  margin: 0 auto;
}

.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.quote {
  font-size: 14px;
  font-style: italic;
}

#name {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}

.contacts {
  text-decoration: none;
  color: #3a3d3b;
}

.contacts:hover {
  color: #7eca9c;
}
